/* general */
body {
  margin: 0; }

/* Interface */
#collectjs {
  z-index: 100;
  position: fixed;
  bottom: 0;
  width: 100%;
  min-height: 30px;
  border-top: 1px solid #444444;
  background: white;
  font-size: 20px;
  font-family: sans-serif; }

#topbar {
  position: relative; }
  #topbar .topbarGroup {
    position: absolute;
    bottom: 0; }

/* Preview */
#selectorPreview {
  left: 0;
  min-width: 250px;
  border-width: 1px 1px 0 0;
  border-style: solid;
  border-color: #777;
  padding: 5px;
  background: white; }
  #selectorPreview #selectorText {
    margin-right: 15px; }

#selectorButtons {
  display: none; }
  #selectorButtons button {
    cursor: pointer;
    padding: 3px 5px;
    background: white;
    border: 0; }
  #selectorButtons button:hover {
    background: #efefef; }

/* Options */
#collectOptions {
  right: 0; }

#collectTabs {
  position: absolute;
  top: -31px;
  height: 30px;
  right: 0;
  background: gold;
  color: #000;
  padding: 0;
  margin: 0;
  border-top: 1px solid #444444;
  word-spacing: -6px; }
  #collectTabs .tab {
    word-spacing: normal;
    border-left: 1px solid #444444;
    display: inline-block;
    padding: 0 5px;
    line-height: 30px; }
    #collectTabs .tab div {
      display: inline-block; }
  #collectTabs .tab.set {
    background: #bddbce; }
  #collectTabs .active {
    background: white; }
  #collectTabs .toggle, #collectTabs #closeCollect, #collectTabs #addIndex {
    cursor: pointer; }

#parentWrapper {
  display: none; }

#parentSelector {
  background: white;
  padding: 0 3px;
  display: inline-block; }

#removeParent {
  cursor: pointer;
  background: gold;
  border: 0;
  font-weight: bolder;
  font-size: 18px;
  line-height: 18px; }

#removeParent:hover {
  background: #e0bd00; }

#collectButtons {
  width: 30%;
  display: inline-block; }

#tabGroups {
  background: white;
  font-size: 16px;
  min-width: 500px; }
  #tabGroups .group {
    border-color: #444444;
    border-style: solid;
    border-width: 1px 0 0 1px;
    display: none;
    min-width: 500px;
    padding: 15px; }
  #tabGroups .show {
    display: block; }

#optionGroup {
  height: 250px; }

#ruleGroup {
  height: 50px; }
  #ruleGroup .collectGroup {
    margin-right: 10px;
    padding: 3px 0 3px 3px;
    border: 1px solid #444444; }
    #ruleGroup .collectGroup span {
      padding: 3px; }
    #ruleGroup .collectGroup .deltog {
      cursor: pointer;
      background: #efefef; }

/* main */
.items {
  display: inline-block;
  margin-top: 15px; }

#selectorItems, #ruleItems {
  display: none; }

#selectorHolder {
  display: inline-block; }

#ruleHTMLHolder .cycle {
  background: #efefef;
  margin: 0 10px;
  padding: 2px 3px;
  cursor: pointer; }

#ruleAlert {
  font-size: 0.75em; }

#ruleItems {
  display: none; }
  #ruleItems div {
    margin: 5px 0; }
  #ruleItems .error {
    border-color: #c91900;
    border-style: solid;
    border-width: 2px; }
  #ruleItems .capture {
    background: #ddd;
    padding: 2px;
    cursor: pointer; }
  #ruleItems .selected {
    background: #bddbce; }

#rulePreview {
  font-size: 16px;
  overflow-y: scroll;
  height: 200px;
  border: 2px inset; }
  #rulePreview p {
    margin-bottom: 5px;
    padding: 2px 15px; }
  #rulePreview p:nth-of-type(even) {
    background: #efefef; }

/* Selector */
.selectorGroup {
  display: inline-block;
  white-space: nowrap;
  padding: 2px 0 0 2px;
  position: relative;
  cursor: pointer; }
  .selectorGroup * {
    font-size: 16px; }
  .selectorGroup .toggleable {
    color: #444444;
    border-bottom: 1px solid #777; }
  .selectorGroup .toggleable.off {
    color: #ccc; }
  .selectorGroup .deltog, .selectorGroup .nthtype, .selectorGroup .onlychild {
    font-weight: bold;
    padding: 0 3px 0 2px;
    color: white; }

.selectorGroup:hover .deltog, .selectorGroup:hover .onlychild, .selectorGroup:hover .nthtype {
  color: #777; }

.collectHighlight {
  background: rgba(50, 50, 50, 0.1) !important;
  color: #222 !important; }
  .collectHighlight * {
    color: #222 !important; }

.queryCheck {
  background: rgba(255, 215, 0, 0.25) !important;
  border: 1px solid yellow !important; }
  .queryCheck * {
    background: rgba(255, 215, 0, 0.25) !important;
    border: 1px solid yellow !important; }
  .queryCheck .queryCheck {
    background: rgba(255, 215, 0, 0.75) !important; }

.savedPreview {
  background: rgba(255, 0, 0, 0.25) !important; }
  .savedPreview * {
    background: rgba(255, 0, 0, 0.25) !important; }

img.savedPreview {
  border: 1px solid rgba(255, 0, 0, 0.25) !important; }
