/* general */
body {
  margin: 0; }

/* Interface */
#collectjs {
  z-index: 100;
  position: fixed;
  bottom: 0;
  width: 100%;
  min-height: 30px;
  border-top: 1px solid #444444;
  background: white;
  font-size: 20px;
  font-family: sans-serif;
  color: black;
  text-align: left; }

#collectTopbar {
  position: relative; }
  #collectTopbar .topbarGroup {
    position: absolute;
    bottom: 0; }

#selectorTabs, #collectTabs {
  position: absolute;
  top: -31px;
  height: 30px;
  padding: 0;
  margin: 0;
  border-top: 1px solid #444444;
  word-spacing: -6px; }
  #selectorTabs .tab, #collectTabs .tab {
    word-spacing: normal;
    display: inline-block;
    padding: 0 5px;
    height: 30px;
    line-height: 1.5;
    cursor: pointer; }
    #selectorTabs .tab div, #collectTabs .tab div {
      display: inline-block; }

#selectorTabs {
  left: 0;
  border-top: 1px solid #444444;
  background: #45aacc; }
  #selectorTabs .tab {
    border-right: 1px solid #444444; }
  #selectorTabs .tab.hidden {
    display: none; }

#collectTabs {
  right: 0;
  background: gold; }
  #collectTabs .tab {
    border-left: 1px solid #444444; }
  #collectTabs .tab.set {
    background: #bddbce; }
  #collectTabs .active {
    background: white; }
  #collectTabs .toggle, #collectTabs #closeCollect, #collectTabs #addIndex {
    cursor: pointer; }

/* Preview */
#selectorPreview {
  padding: 5px;
  background: white; }

#selectorPreview {
  display: none; }

#selectorText {
  margin-right: 15px; }
  #selectorText .parent {
    background: #bddbce; }

#parentSelector {
  padding: 0 3px;
  display: inline-block; }

#removeParent {
  cursor: pointer;
  border: 0;
  font-weight: bolder;
  font-size: 18px;
  background: inherit;
  line-height: 1;
  color: #f296a3; }

#removeParent:hover {
  color: #c91900; }

#selectorTabs {
  left: 0; }

#collectOptions {
  right: 0; }

#selectorGroups, #tabGroups {
  background: white;
  font-size: 16px;
  min-width: 500px; }
  #selectorGroups .group, #tabGroups .group {
    border-color: #444444;
    border-style: solid;
    display: none;
    min-width: 500px;
    padding: 15px; }
  #selectorGroups .show, #tabGroups .show {
    display: block; }

#selectorGroups .group {
  border-width: 1px 1px 0 0; }

#tabGroups .group {
  border-width: 1px 0 0 1px; }

#optionGroup {
  height: 250px; }

#ruleGroup .collectGroup {
  margin-right: 10px;
  padding: 3px 0 3px 3px;
  border: 1px solid #444444; }
  #ruleGroup .collectGroup span {
    padding: 3px; }
  #ruleGroup .collectGroup .deltog {
    cursor: pointer;
    background: #efefef; }
#ruleGroup .ruleGroup {
  margin-bottom: 15px; }
  #ruleGroup .ruleGroup h2 {
    text-decoration: underline;
    margin: 10px 0; }

#toggleParent {
  background: #45aacc;
  font-size: 18px;
  line-height: 1;
  font-weight: bold;
  border: 0;
  cursor: pointer; }

#clearSelector {
  background: #f296a3; }

#rulePreview {
  font-size: 16px;
  overflow-y: scroll;
  height: 200px;
  border: 2px inset; }
  #rulePreview p {
    margin-bottom: 5px;
    padding: 2px 15px; }
  #rulePreview p:nth-of-type(even) {
    background: #efefef; }

#collectMain {
  padding: 5px 5px 15px;
  color: black; }
  #collectMain .items {
    display: none;
    margin-top: 15px; }

#selectorHolder {
  display: inline-block; }

#ruleHTMLHolder .cycle {
  margin: 0 10px;
  padding: 2px 3px;
  cursor: pointer; }

#ruleAlert {
  font-size: 0.75em; }

#ruleItems div {
  margin: 5px 0; }
#ruleItems .error {
  border-color: #c91900;
  border-style: solid;
  border-width: 2px; }
#ruleItems .capture {
  background: #ddd;
  padding: 2px;
  cursor: pointer; }
#ruleItems .selected {
  background: #bddbce; }
#ruleItems .rule {
  color: black;
  font-size: 14px; }
  #ruleItems .rule label {
    width: 100px; }
  #ruleItems .rule label, #ruleItems .rule input {
    margin: 0;
    display: inline-block; }

/* Selector */
#selectorHolder .selectorGroup {
  display: inline-block;
  white-space: nowrap;
  padding: 2px 0 0 2px;
  position: relative;
  cursor: pointer; }
  #selectorHolder .selectorGroup * {
    font-size: 16px; }
  #selectorHolder .selectorGroup .toggleable {
    color: #444444;
    border-bottom: 1px solid #777; }
  #selectorHolder .selectorGroup .toggleable.off {
    color: #ccc; }
  #selectorHolder .selectorGroup .deltog, #selectorHolder .selectorGroup .nthtype, #selectorHolder .selectorGroup .onlychild {
    font-weight: bold;
    padding: 0 3px 0 2px;
    color: white; }
#selectorHolder .selectorGroup:hover .deltog, #selectorHolder .selectorGroup:hover .onlychild, #selectorHolder .selectorGroup:hover .nthtype {
  color: #777; }

.collectHighlight {
  background: rgba(50, 50, 50, 0.1) !important;
  color: #222 !important; }
  .collectHighlight * {
    color: #222 !important; }

.queryCheck {
  background: rgba(255, 215, 0, 0.25) !important;
  border: 1px solid yellow !important; }
  .queryCheck * {
    background: rgba(255, 215, 0, 0.25) !important;
    border: 1px solid yellow !important; }
  .queryCheck .queryCheck {
    background: rgba(255, 215, 0, 0.75) !important; }

.savedPreview {
  background: rgba(255, 0, 0, 0.25) !important; }
  .savedPreview * {
    background: rgba(255, 0, 0, 0.25) !important; }

img.savedPreview {
  border: 1px solid rgba(255, 0, 0, 0.25) !important; }
