$red: #C91900;
$light-red: #F296A3;
$green: #489675;
$light-green: #BDDBCE;
$light-gray: #efefef;
$dark-gray: #444444;
$gray: #CCCCCC;
$gold: #FFD700;
$white: #ffffff;

.selectorGroup{
    display: inline-block;
    white-space: nowrap;
    padding: 2px 0 0 2px;
    position: relative;
    cursor: pointer;   

    *{
        font-size: 16px;
    }

    .toggleable{
        color: #222;
        border-bottom: 1px solid #777;   
    }

    .toggleable.off{
        color: #ccc;
    }

    .deltog, .nthtype, .onlychild{
        font-weight: bold;
        padding: 0 3px 0 2px;
        color: $white;
    }
}

.selectorGroup:hover{
    .deltog, .onlychild, .nthtype{
        color: #777;
    }
}



#collectjs{
    z-index:100;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    border-top: 1px solid #444;
    background: $white;
    font-size: 20px;
    font-family: sans-serif;
}

#collectMain{
    width: 60%;
    display: inline-block;
}

#parentSelector{
    display: inline-block;
}

#collectButtons{
    width: 30%;
    display: inline-block;
}

#selectorText{
    background: white;
    position: absolute;
    top: -25px;
    padding: 0 5px;
}

#collectTabs{
    position: absolute;    
    top: -26px;
    height: 25px;
    right: 0;
    background: $gold;
    color: #000;
    padding: 0;
    margin: 0;
    border-top: 1px solid #777;
    word-spacing: -6px;

    .tab{
        word-spacing: normal;
        border-left: 1px solid #222;
        display: inline-block;
        padding: 0 5px;
        line-height: 25px;

        div{
            display: inline-block;
        }
    }

    .active{
        background: $white;
    }

    .toggle, #closeCollect{
        cursor: pointer;
    }

    #toggleParent{
        background: $gold;
        cursor: pointer;
        border: 0;
        font-weight: bolder;
        font-size: 24px;
        line-height: 18px;
    }
}

#collectTabs.pushed{
    top: -76px;
}

#tabGroups{
    position: absolute;
    top: -51px;
    right: 0;

     div{
        position: absolute;
        right: 0;
        background: $green;
        width: 500px;
        display: none;
        height: 50px;
    }

    .show{
        display: block;
    }
}

@import 'options';
@import 'page';
