$red: #C91900;
$light-red: #F296A3;
$green: #489675;
$light-green: #BDDBCE;
$light-gray: #efefef;
$dark-gray: #444444;
$gray: #CCCCCC;
$gold: #FFD700;
$dark-gold: #E0BD00;
$white: #ffffff;
$black: #000000;

/* general */
body{
    margin: 0;
}

/* Interface */
#collectjs{
    z-index:100;
    position: fixed;
    bottom: 0;
    width: 100%;
    min-height: 30px;
    border-top: 1px solid $dark-gray;
    background: $white;
    font-size: 20px;
    font-family: sans-serif;
}

#topbar{
    position: relative;

    .topbarGroup{
        position: absolute;
        bottom: 0;
    }
}

/* Preview */
#selectorPreview{
    left: 0;
    min-width: 250px;
    border-width: 1px 1px 0 0;
    border-style: solid;
    border-color: #777;
    padding: 5px;
    background: white;
}

#selectorText{
    margin-right: 15px;

    .parent{
        background: $light-green;
    }
}

#selectorButtons{
    display: none;

    button{
        cursor: pointer;
        padding: 3px 5px;
        background: $white;
        border: 0;
    }

    button:hover{
        background: $light-gray;
    }
}

/* Options */
#collectOptions{
    right: 0;
}

#collectTabs{
    position: absolute;
    top: -31px;
    height: 30px;
    right: 0;
    background: $gold;
    color: #000;
    padding: 0;
    margin: 0;
    border-top: 1px solid $dark-gray;
    word-spacing: -6px;

    .tab{
        word-spacing: normal;
        border-left: 1px solid $dark-gray;
        display: inline-block;
        padding: 0 5px;
        line-height: 30px;

        div{
            display: inline-block;
        }
    }

    .tab.set{
        background: $light-green;
    }

    .active{
        background: $white;
    }

    .toggle, #closeCollect, #addIndex{
        cursor: pointer;
    }
}

#parentWrapper{
    display: none;   
    background: $white;
    margin-right: 5px;
    word-spacing: -10px;
}

#parentSelector{
    padding: 0 3px;
    display: inline-block;
}

#removeParent{
    cursor: pointer;
    border: 0;
    font-weight: bolder;
    font-size: 18px;
    background: inherit;
    line-height: 18px;
    color: $light-red;
}

#removeParent:hover{
    color: $red;
}

#collectButtons{
    width: 30%;
    display: inline-block;
}

#tabGroups{
    background: $white;
    font-size: 16px;
    min-width: 500px;
    .group{
        border-color: $dark-gray;
        border-style: solid;
        border-width: 1px 0 0 1px;
        display: none;
        min-width: 500px;
        padding: 15px;
    }

    .show{
        display: block;
    }
}

#optionGroup{
    height: 250px;
}

#ruleGroup{
    height: 50px;

    .collectGroup{
        margin-right: 10px;
        padding: 3px 0 3px 3px;
        border: 1px solid $dark-gray;

        span{
            padding: 3px;
        }

        .deltog{
            cursor: pointer;
            background: $light-gray;
        }
    }
}

/* main */

#collectMain{
    padding: 5px 5px 15px;
    color: $black;
}

.items{
    display: inline-block;
    margin-top: 15px;
}    

#selectorItems, #ruleItems{
    display: none;
}

#selectorHolder{
    display: inline-block;
}

#ruleHTMLHolder{
    .cycle {
        background: $light-gray;
        margin: 0 10px;
        padding: 2px 3px;
        cursor: pointer;
    }
}

#ruleAlert{
    font-size: 0.75em;
}

#ruleItems{
    display: none;

    div{
        margin: 5px 0
    }

    .error{
        border-color: $red;
        border-style: solid;
        border-width: 2px;
    }

    .capture{
        background: #ddd;
        padding: 2px;
        cursor: pointer; 
    }

    .selected{
        background: $light-green;
    }
}

#rulePreview{
    font-size: 16px;
    overflow-y: scroll;
    height: 200px;
    border: 2px inset;

    p{
        margin-bottom: 5px;
        padding: 2px 15px;
    }
    p:nth-of-type(even){
        background: $light-gray;
    }
}


/* Selector */

.selectorGroup{
    display: inline-block;
    white-space: nowrap;
    padding: 2px 0 0 2px;
    position: relative;
    cursor: pointer;   

    *{
        font-size: 16px;
    }

    .toggleable{
        color: $dark-gray;
        border-bottom: 1px solid #777;   
    }

    .toggleable.off{
        color: #ccc;
    }

    .deltog, .nthtype, .onlychild{
        font-weight: bold;
        padding: 0 3px 0 2px;
        color: $white;
    }
}

.selectorGroup:hover{
    .deltog, .onlychild, .nthtype{
        color: #777;
    }
}

@import 'page';
